<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laf.admin.dao.MenuMapper">
    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT DISTINCT sm.perms
        FROM `sys_user_role` sur
                 LEFT JOIN sys_role sr ON sr.id = sur.role_id
                 LEFT JOIN sys_role_menu srm ON srm.role_id = sr.id
                 LEFT JOIN sys_menu sm ON sm.id = srm.menu_id
        WHERE sur.user_id = #{id};
    </select>
</mapper>